.wrapper {
  display: grid;
  grid-template-areas: "post-1 post-2 post-3 post-4 "

                       ;
  					   
  margin: 10px;
  
}
.post-1 {
  grid-area: post-1;
  background-color: #87cefa;
  width: 100%;
   height: 20.8vh;
   margin-top:20px;
   margin-left: 3px;
   margin-bottom:  200px;
}
.post-2 {
  grid-area: post-2;
  background-color: #87cefa;
  width: 100%;
   height: 25vh;
   margin-top:20px;
   margin-left: 3px;
   padding-top:20px;
}
.post-3 {
  grid-area: post-3;
  background-color: #87cefa;
  width: 100%;
   height:50vh;
   margin-top:20px;
   margin-left: 3px;
}
.post-4 {
  grid-area: post-4;
  background-color: #87cefa;
  width: 100%;
   height:20.8vh;
   margin-top:20px;
   margin-left: 3px;
}

.button3{
	position: relative;
	margin: 15px;
	top:50px;
}
.hover{
	text-align: center;
	
}
.task3-table td,
.task3-table th {
    border: 2px solid #555555;
}